𝗳𝗿𝗼𝗺 𝗳𝗹𝗮𝘀𝗸 𝗶𝗺𝗽𝗼𝗿𝘁 𝗙𝗹𝗮𝘀𝗸
𝗳𝗿𝗼𝗺 𝘁𝗵𝗿𝗲𝗮𝗱𝗶𝗻𝗴 𝗶𝗺𝗽𝗼𝗿𝘁 𝗧𝗵𝗿𝗲𝗮𝗱

𝗮𝗽𝗽 = 𝗙𝗹𝗮𝘀𝗸('')

@𝗮𝗽𝗽.𝗿𝗼𝘂𝘁𝗲('/')
𝗱𝗲𝗳 𝗵𝗼𝗺𝗲():
    𝗿𝗲𝘁𝘂𝗿𝗻 "𝗕𝗼𝘁 𝗶𝘀𝗵𝗹𝗮𝘆𝗮𝗽𝘁𝗶"

𝗱𝗲𝗳 𝗿𝘂𝗻():
    𝗮𝗽𝗽.𝗿𝘂𝗻(𝗵𝗼𝘀𝘁='𝟬.𝟬.𝟬.𝟬', 𝗽𝗼𝗿𝘁=𝟴𝟬𝟴𝟬)

𝗱𝗲𝗳 𝗸𝗲𝗲𝗽_𝗮𝗹𝗶𝘃𝗲():
    𝘁 = 𝗧𝗵𝗿𝗲𝗮𝗱(𝘁𝗮𝗿𝗴𝗲𝘁=𝗿𝘂𝗻)
    𝘁.𝘀𝘁𝗮𝗿𝘁()

# 𝗺𝗮𝗶𝗻 𝗸𝗼𝗱𝗶𝗻𝗴𝗶𝘇𝗱𝗮𝗻 𝗼𝗹𝗱𝗶𝗻 𝗰𝗵𝗮𝗾𝗶𝗿𝗶𝗻𝗴
𝗸𝗲𝗲𝗽_𝗮𝗹𝗶𝘃𝗲()
